.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }

  .cell{
    display: inline-block;
    height: 100px;
    width: 100px;
    background-color: rgb(0, 0, 0);
    color: black;
    border: 5px solid white;
    font-size: 50px;
    padding: auto;
    transform: rotateY(180deg);
    transition: transform 1s;
  }
  
  .clicked{
    display: inline-block;
    height: 100px;
    width: 100px;
    background-color: rgb(255, 255, 255);
    color: black;
    border: 5px solid white;
    font-size: 50px;
    transform: rotateY(0deg);
    transition: transform 0.6s;
    padding: auto;
  }